#contact span{
	font-size: 20px;
}

#contact a {
	color:  #C8517E;
	font-size: 18px;
}

#contact h5 {
	font-size:20px;
	text-align: center;
}

#contact .material-icons {
	font-size: 2rem;
	vertical-align:middle;
}